@model Manawork.Models.Project.Project
@{
    ViewData["Title"] = @Model.Title;
}

<div class="app">
  <div class="kanban">
    <div class="kanban-container">
      <div class="kanban-column">
        <div class="kanban-column-header">
          To Do
          <a href="/Project/AddCart/@Model.ProjectId"><span>&#43;</span></a>
        </div>
        <ul class="kanban-column-list">
          
          @foreach (var todo in (IEnumerable<Manawork.Models.Project.Cart>)ViewData["TodoCarts"])
          {
              <partial name="_CartBox" model="todo" />
          }

        </ul>
      </div>
      <div class="kanban-column">
        <div class="kanban-column-header">
          In Process
        </div>
        <ul class="kanban-column-list">
          
          @foreach (var inProcess in (IEnumerable<Manawork.Models.Project.Cart>)ViewData["InProcessCarts"])
          {
              <partial name="_CartBox" model="inProcess" />
          }

        </ul>
      </div>
      <div class="kanban-column">
        <div class="kanban-column-header">
          Done
        </div>
        <ul class="kanban-column-list">
          
          @foreach (var done in (IEnumerable<Manawork.Models.Project.Cart>)ViewData["DoneCarts"])
          {
              <partial name="_CartBox" model="done" />
          }

        </ul>
      </div>
    </div>
  </div>
</div>